.product-list {
  padding: 2.5rem 0;
  width: 100%;
  display: flex;
  gap: 1.8rem;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.product-list__card {
  box-sizing: border-box;
  padding: .625rem;
  border-radius: 4px;
  flex: 0 1 16.9rem;
  height: auto;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all .5s ease-in-out;
}

.product-list__card:hover {
  outline: 1px solid var(--blue);
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.product-list__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .625rem;
  text-decoration: none;
}

.product-list__card img {
  height: 250px;
  width: 250px;
  display: block;
  border-radius: 4px;
}

.product-item__name {
  font-size: 1.4rem;
  color: var(--blue);
}

.product-item__price {
  color: var(--orange);
  font-size: 2rem;
  font-weight: bold;
}

.product-item__price--description {
  color: var(--gray);
  font-size: .75rem;
  font-weight: bold;
}

.product-item__buy--button {
  background-color: var(--blue);
  border: none;
  color: white;
  font-size: 1.25rem;
  padding: .38rem .75rem;
}

.product-item__buy--button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}
